<p>String / Number list</p>


  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Warehouse Geofences</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter fruits"
    cdkDropList 
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">
      <mat-chip-row
        *ngFor="let fruit of fruits"
        class="mat-chip"
        (removed)="remove(fruit)"
        [editable]="true"
        (edited)="edit(fruit, $event)"
        [aria-description]="'press enter to edit ' + fruit.name"
        class="example-box"
        cdkDrag
        >
        {{fruit.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="Enter List items..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
  </mat-form-field>

  <div *ngFor= "let fruit of fruits">
      <p>{{fruit.name}}</p>
  </div>
